:where(.css-dev-only-do-not-override-d2lrxs).ant-descriptions.ant-descriptions-bordered>.ant-descriptions-view {
    overflow: hidden;
    border: 1px solid rgba(5, 5, 5, 0.1) !important;
}

::where(.css-dev-only-do-not-override-d2lrxs).ant-descriptions.ant-descriptions-bordered>.ant-descriptions-view .ant-descriptions-row {
    border-bottom: 1px solid rgba(5, 5, 5, 0.1) !important;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-descriptions .ant-descriptions-item-container .ant-descriptions-item-label {
    /* display: inline-flex; */
    align-items: baseline;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-descriptions .ant-descriptions-item-container .ant-descriptions-item-label {
    display: block !important;
    align-items: baseline;
}

.rdg-light .rdg-row {
    border-bottom: 1px solid #ddd;
    /* Horizontal borders */
}

.rdg-light .rdg-cell {
    border-right: 1px solid #ddd;
    /* Vertical borders */
}

.rdg-light .rdg-header-row {
    border-bottom: 2px solid #bbb;
    /* Header row border */
}

.rdg-cell {
    /* background-color: #9370db; */
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    /* color: white; */
}

.rdg-header-row {
    font-weight: 550;
    /* Reduce boldness */
    font-size: 12px;
    /* Optional: Adjust font size */
}

.rdg-checkbox-input {
    transform: scale(0.7);
    /* Adjust the scale for smaller size */
}

.rdg-header-row .rdg-checkbox-input {
    transform: scale(0.7);
    /* Reduce size in the header */
}

.hidden-select {
    display: none;
}